<html>
<head>
    <title>Seek Bar</title>
    <style>
	#seekbar
	{
	    margin:20px;
        width:400px;
	}
    </style>
    <link rel = "stylesheet" href= "/static/css/jquery-ui.css" />
</head>
<body>
    <div id = "seekbar"> </div>
    <span>Time</span>
    <span id = "val">0</span>
    <button onclick="">Submit</button>
    <script type="text/javascript" src="/static/conf/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/jquery.min.2.1.4.js"></script>
    <script type="text/javascript" src="/static/jquery-ui.min.js"></script>
    <script>
        function submitTime(){

        }

	$(document).ready(function(){
	    $('#seekbar').slider({
		min:0,
		max:300,
		step:1,
		change:showValue
	    });
	    function showValue(event, ui){
            var time =ui.value;
            var second = time % 60;
            var minute = (time-second)/60;
		    $('#val').html(minute+'分'+second+'秒');
	    }
	    console.log('here');
	});
    </script>
</body>
</html>
