<html>
<head>
    <title>Seek Bar</title>
    <style>
	#seekbar
	{
	    margin:20px;
	}
    </style>
    <link rel = "stylesheet" href= "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" />
</head>
<body>
    <div id = "seekbar"> </div>
    <span id = "val">0</span>
    <script type="text/javascript" src="/static/conf/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script>
	$(document).ready(function(){
	    $('#seekbar').slider({
		min:0,
		max:300,
		step:1,
		change:showValue
	    });
	    function showValue(event, ui){
		$('#val').html(ui.value);
	    }
	    console.log('here');
	});
    </script>
</body>
</html>
