<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/static/conf/annotation.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/conf/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/conf/jquery-min.js"></script>
    <script type="text/javascript" src="/static/conf/wc_preprocess.js"></script>
    <script type="text/javascript" src="/static/conf/jquery.bgpos.js"></script>
    <script type="text/javascript" src="/static/conf/jquery.reveal.js"></script>
    <script type="text/javascript" src="/static/conf/jquery.raty.js"></script>
    <script type="text/javascript" src="/static/conf/jquery.raty.min.js"></script>
    <script type="text/javascript" src="/static/conf/anno_log.js"></script>
    <script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>
    <title>All tasks</title>
</head>
<body>

<div class="annotation_header">
    <h1 align="center">清华大学计算机系信息检索组</h1>

    <h1 align="center"> 欢迎您！</h1>
    <script>
        function getCookieVal(offset) {
            var endstr = document.cookie.indexOf(";", offset);
            if (endstr == -1) {
                endstr = document.cookie.length;
            }
            return unescape(document.cookie.substring(offset, endstr));
        }

        // primary function to retrieve cookie by name
        function getCookie(name) {
            var arg = name + "=";
            var alen = arg.length;
            var clen = document.cookie.length;
            var i = 0;
            while (i < clen) {
                var j = i + alen;
                if (document.cookie.substring(i, j) == arg) {
                    return getCookieVal(j);
                }
                i = document.cookie.indexOf(" ", i) + 1;
                if (i == 0) break;
            }
            return null;
        }

        // store cookie value with optional details as needed
        function setCookie(name, value, expires, path, domain, secure) {
            document.cookie = name + "=" + escape(value) +
            ((expires) ? "; expires=" + expires : "") +
            ((path) ? "; path=" + path : "") +
            ((domain) ? "; domain=" + domain : "") +
            ((secure) ? "; secure" : "");
        }

        // remove the cookie by setting ancient expiration date
        function deleteCookie(name, path, domain) {
            if (getCookie(name)) {
                document.cookie = name + "=" +
                ((path) ? "; path=" + path : "") +
                ((domain) ? "; domain=" + domain : "") +
                "; expires=Thu, 01-Jan-1970 00:00:01 GMT";

            }
        }

        function resetTime() {
            setCookie('time', 0, '', '/', '', '');
        }
        var strcookie = document.cookie;
        var arrcookie = strcookie.split("; ");
        var sid = arrcookie[0].split('=')[1]

        document.write('<p align="center"><font style="font-size:16px" color="red">当前标注人员账号为' + sid + '</font></p>')
        document.write('<p align="center"><font style="font-size:16px" color="red">cookie' + arrcookie + '</font></p>')
    </script>

    <p align="center" style="font-size:16px" color="red">当前共有{{ tasknum }}个查询任务</p>

    <p align="center" style="font-size:16px" color="red">
        对于每一个查询任务，你需要用一个查询寻找相关的信息。请注意，在开始查询前，请听一段录音，帮助你理解查询背后具体的信息需求。</p>
</div>
<div class="annotation_list">
    {% for item in tasks %}
        <div class="annotation_cell">
            <img class="check" src="/static/conf/img/check.jpg">

            <div>
                <h2> 第 {{ forloop.counter }} 个搜索任务</h2>

                <p>查询： {{ item.1 }}</p>
                <span>任务描述：</span><span>

                <audio controls="controls">
                <source src="/{{ item.2 }}" type="audio/mp3"/>
            </audio>

            </span>

                <div><a class="annotation_link"
                        href='/search/{{ item.0 }}/{{ item.3 }}/{{ item.4 }}/{{ item.1 }}/1/'
                        target="_blank" onclick="resetTime();">点击这里开始</a></div>

            </div>

        </div>
    {% endfor %}
</div>

</body>
</html>